.right{
    float: right;
}

.left{
    float: left;
}

.dark{
    background-color: #444;
}

.center{
    margin:auto
}

#headband{
    background-color: #444;
    height: 10%;
    min-height: 100px;
}

.pagetitle{
    text-align: center;
    vertical-align: baseline;
}

.content{
    width:90%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    min-height: 70%;
}

body{
    background-color: #aaaaaa;
}

.question{
    list-style:none;
}

.questionContent{
    background-color: #eeeeee;
    padding: 5px;
}

.answers{
    list-style:none;
}

.answer{
    margin: 10px;
    background-color: #dddddd;
}

.comments{
    list-style:none;
}

.comment{
    margin: 10px;
    background-color: #cccccc;
}

.metadata{
    font-weight: bold;
}

.nextLink{
    padding-left: 10px;
}

.prevLink{
    padding-right: 10px;
}

.step, .currentStep{
    padding-left: 2px;
    padding-right: 2px;
}

.icon{
    width: 17px;
    height: 17px;
}

.centerForm{
    width: 30%;
    min-width: 420px;
    margin:auto;
}

textarea {
    resize: none;
    width:100%;
    height:12%;
}

.actions{
    margin-left : 5px;
    float: left;
    width: 75px;
    height: 50px;
}

.score{
    font-weight: bold;
}

.btn{
    margin: 5px;
}

.btn-group .btn
{
    margin:0;
}